<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
        <form @submit.prevent="addSkill">
                <input type="text" placeholder="Enter askill you have..." v-model="skill">
                {{ skills.skill }}
        </form>
        <ul>
          <li v-for="(data, index) in skills" :key='index'>{{ data.skill }}</li>
        </ul>
                
                <pre>{{ $data }}</pre>
        </div>
        
            
        <script src="index.js"></script>
    </body>
</html>